<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description"content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <title>{{site.title}}-基于大数据的股票交易策略</title>
    {{include './common/meta.html'}}
    <link rel="stylesheet" href="{{static_url}}/css/flatpickr.min.css" />
    <link rel="stylesheet" href="{{static_url}}/css/font-awesome.all.min.css" />
    <link rel="stylesheet" href="{{static_url}}/css/stock.css" />
    <!--<script src="{{static_url}}/js/chart.js"></script>
    <script src="{{static_url}}/js/stockChart.js"></script>-->
    <script src="{{static_url}}/js/stock.js"></script>
    <style>
        table.report-table > thead > tr > th:not(:first-child){cursor:pointer;}
    </style>
</head>
<body class="bg-f8f8f8" id="app">
    {{include './common/header.html'}}
    <div class="limit-tab-container">
        <h1 class="page-title timeline-title-w100">主力建仓</h1>
        <!-- 页签导航 -->
        <div class="tabpane use-for-sticky">
            <div class="tabs-header">
                <div class="tabs-scroll-wrapper">
                    <!-- 左箭头 -->
                    <div class="nav-arrow left hidden" id="arrow-left"><i class="fas fa-chevron-left"></i></div>
                    <!-- 页签滚动容器 -->
                    <div class="tabs-scroll-container">
                        <div class="tabs" id="tabs">
                            <div class="tab tab-tag ml-0 active" data-tab="tab1" data-src="fundflows">资金流向</div>
                            <div class="tab tab-tag" data-tab="tab2" data-src="toptraderrank">龙虎榜单</div>
                            <div class="tab tab-tag" data-tab="tab3" data-src="margintrading">融资融券</div>
                            <div class="tab tab-tag" data-tab="tab4" data-src="northbound">北向资金</div>
                            <div class="tab tab-tag" data-tab="tab5" data-src="pof">公募基金</div>
                            <div class="tab tab-tag" data-tab="tab6" data-src="qfii">境外机构</div>
                            <div class="tab tab-tag" data-tab="tab7" data-src="ssf">社保基金</div>
                        </div>
                    </div>
                    <!-- 右箭头 -->
                    <div class="nav-arrow right" id="arrow-right"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="mainTabContent">
            <div id="tab1" class="tab-pane tab-data-container active">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="fundflowsHead"></thead>
                        <tbody id="fundflowsBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab2" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="toptraderrankHead"></thead>
                        <tbody id="toptraderrankBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab3" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="margintradingHead"></thead>
                        <tbody id="margintradingBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab4" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="northboundHead"></thead>
                        <tbody id="northboundBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab5" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="pofHead"></thead>
                        <tbody id="pofBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab6" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="qfiiHead"></thead>
                        <tbody id="qfiiBody"></tbody>
                    </table>
                </div>
            </div>
            <div id="tab7" class="tab-pane tab-data-container">
                <span class="last-date"></span>
                <div class="table-container">
                    <table class="report-table">
                        <thead id="ssfHead"></thead>
                        <tbody id="ssfBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{include './common/footer.html'}}
    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}
    <div class="ignore mb-20 mt-20 pd-20 bg-f2f2f2">
        <!--<p class="mb-20">fundflows-> {{FundFlows}} </p>-->
    </div>
    {{include './common/js.html'}}
    <script src="{{static_url}}/js/flatpickr.js"></script>
    <!--<script src="{{static_url}}/js/vue.global.prod.js"></script>-->
    <script src="{{static_url}}/js/tailwindcss.so.js"></script>
    <script src="{{static_url}}/js/dialog.js"></script>
</body>
<script>
    let isLoading = false;
    let pageIndex = 1;
    let hasMore = false;
    let totalPages = 1;
    let lastScrollLeft = 0;
    let lastScrollTop = 0;
    let sortField = '';
    let sortType = '';
    document.querySelectorAll('.tab-tag').forEach(tab => {
        tab.addEventListener('click', async function(event){
            if (event.target.classList.contains('active')) return;
            pageIndex = 1;
            const reportName = tab.getAttribute('data-src').toLowerCase();
            const head = document.getElementById(`${reportName}Head`);
            head.querySelectorAll('th').forEach(th => {
                if(th.className) { 
                    sortField = th.getAttribute('data-key');  
                    sortType = th.className === 'sort-desc' ? -1 : 1;  
                    return;
                }
            })
            showData(event.target);
        });
    })
    function showData(tab){
        if (!tab) return;
        const reportName = tab.getAttribute('data-src').toLowerCase();
        if (!reportName || reportName === '') return;
        renderTable(reportName);
        let queryEls = `#${tab.parentElement.id} > .tab-tag`;
        document.querySelectorAll(queryEls).forEach(item => { item.classList.remove('active') });
        tab.classList.add('active');
        const tabId = tab.getAttribute('data-tab');
        queryEls = `#${document.getElementById(tabId).parentElement.id} > .tab-data-container`;
        document.querySelectorAll(queryEls).forEach(pane => pane.classList.remove('active'));
        document.getElementById(tabId).classList.add('active');
    }
    async function renderTable(report){
        let error = '';
        const dialog = StatusDialog.showLoading('正在加载数据...');
        try{
            isLoading = true;
            const url = `/api/d/loadingup/${report}?pn=${pageIndex}&st=${sortField}&sr=${sortType}`;
            const response = await fetch(url);
            const data = await response.json();
            totalPages = data.result.pages;
            hasMore = totalPages > 1 && pageIndex < totalPages;
            renderTableBody(data, report);
        }
        catch(err){
            console.log('错误：', err);
            error = err.message;
        }
        finally{
            setTimeout(() => {
                isLoading = false;
                //dialog.update({type: 'success',title: !error ? '加载成功' : '加载失败',message: !error ? '数据加载已完成' : error,autoClose: 1});
                dialog.hide();
            }, error ? 1500 : 500)
            
            //setTimeout(() => { dialog.hide() }, error ? 1500 : 500);
        }
    }
    function renderTableBody(data, report){
        if(!data || !data.result || !data.result.data || data.result.data.length === 0) {
            hasMore = false;
            totalPages = 0;
            renderNodataTable(report);
            return;
        }
        totalPages = data.result.pages;
        hasMore = totalPages > 1 && pageIndex < totalPages;
        let html = '';
        const fields = FUND_HEADERS.find(x => x.report.toLowerCase() === report.toLowerCase()).header.sort((a,b)=>{return a.order-b.order});
        for(var item of data.result.data){
            html += '<tr>';
            for(var field of fields){
                if(field.order === 1) html += `<td>${item[field.field]}<p class='stock-code'>${item.SECURITY_CODE}</p></td>`
                else {
                    const value = item[field.field];
                    if(field.type === 'amt') html += `<td>${isNaN(value)?value:convertAmount(value)}</td>`;
                    else if(field.type === 'amt_rg') html += `<td class='${!hasValue(value) || value===0 || isNaN(value)? '':(value>0?'red':'green')}'>${isNaN(value)?value:convertAmount(value)}</td>`;
                    else if(field.type === 'per') html += `<td>${!hasValue(value) ? '--' : (isNaN(value)?value:(value.toFixed(2)+'%'))}</td>`;
                    else if(field.type === 'per_rg') html += `<td class=${!hasValue(value) || value === 0 || isNaN(value)?'':(value>0?'red':'green')}>${!hasValue(value) ? '--' : (isNaN(value)?value:(value.toFixed(2)+'%'))}</td>`;
                    else if(field.type === 'int') html += `<td>${!hasValue(value)?'--':value}</td>`;
                }
            }
            html += '</tr>';
        }
        const tbody = document.getElementById(`${report}Body`);
        if(pageIndex === 1) tbody.innerHTML = html;
        else tbody.innerHTML += html;
        const lastDate = tbody.parentElement.parentElement.parentElement.querySelector('.last-date');
        if(data.result.lastdate) lastDate.innerHTML = `数据更新到 ${data.result.lastdate}`;
        else {
            const lastdate = formatDate(new Date(data.result.data[0].UPDATE_TIME*1000), 'yyyy-MM-dd HH:mm');
            lastDate.innerHTML = `数据更新到 ${lastdate}`;
        }
    }
    function renderNodataTable(report){
        const cols = document.getElementById(`${report}Head`).querySelectorAll('th').length;
        const html = `<tr><td colspan='${cols}' style='text-align:center;line-height:150px;min-height:150px;font-size:18px;font-weight:600;font-style:italic'>暂无数据</td></th>`;
        document.getElementById(`${report}Body`).innerHTML = html;
    }
    function renderTablesHeader(){
        FUND_HEADERS.forEach(item => {
            let html = `<tr>`;
            const headers = item.header.sort((a,b) => { return a.order - b.order});
            for(var field of headers){
                if(field.order === 1) html += `<th>${field.name}</th>`;
                else html += `<th data-key='${field.field}' ${field.sort === 1 ? 'class="sort-desc"' : ''}>${field.name}</th>`
            }
            html += `</tr>`
            console.log(`${item.report}Head`);
            document.getElementById(`${item.report}Head`).innerHTML = html;
        })
        document.querySelectorAll('table.report-table > thead > tr > th:not(:first-child)').forEach(th => {
            th.addEventListener('click', (event) => {
                const head = event.target.parentElement.parentElement;
                const report = head.id.replaceAll('Head', '');
                sortField = event.target.getAttribute('data-key');
                const clsName = event.target.className;
                if(!clsName) sortType = -1;
                else sortType = clsName === 'sort-desc' ? 1 : -1;
                pageIndex = 1;
                renderTable(report);

                head.querySelectorAll('th:not(:first-child)').forEach(th => { th.className = '' });
                event.target.className = (sortType === 1 ? 'sort-asc' : 'sort-desc')
            });
        })
    }
    function hasValue(value){
        if(!value) return value === 0 ? true : false;
        return true;
    }
    function convertAmount(amt){
        if(!hasValue(amt)) return '--';
        let result = ''
        if (Math.abs(amt) >= 100000000) {
            result += (amt / 100000000).toFixed(2) + '亿';
        } else if (Math.abs(amt) >= 10000) {
            result += (amt / 10000).toFixed(2) + '万';
        } else {
            result += amt.toLocaleString('zh-CN');
        }
        return result;
    }
    let scrollTimeout;
    function handleScroll(container){
        if (isLoading || !hasMore) return;
        // 计算是否滚动到底部
        const scrollTop = container.scrollTop;
        const scrollHeight = container.scrollHeight;
        const clientHeight = container.clientHeight;
        if (scrollHeight - scrollTop - clientHeight < 50){
            const tab = document.getElementById('tabs').querySelector('.tab.active');//.getAttribute('data-src');
            pageIndex++;
            showData(tab);
        }
    }
    
    function scrollTabs(tabs, arrowLeft, arrowRight, tabPanes) {
        // 每次滚动的距离
        const scrollAmount = 200;
        // 更新箭头状态
        function updateArrowState() {
            const scrollLeft = tabs.scrollLeft;
            const maxScrollLeft = tabs.scrollWidth - tabs.clientWidth;
            // 向左箭头状态
            if (scrollLeft <= 10) arrowLeft.classList.add('hidden');
            else arrowLeft.classList.remove('hidden');
            // 向右箭头状态
            if (scrollLeft >= maxScrollLeft - 10) arrowRight.classList.add('hidden');
            else arrowRight.classList.remove('hidden');
        }
        // 初始更新箭头状态
        updateArrowState();
        // 向右滚动
        arrowRight.addEventListener('click', function () {
            if (!this.classList.contains('hidden')) {
                tabs.scrollBy({ left: scrollAmount, behavior: 'smooth' });
                // 滚动完成后更新箭头状态
                setTimeout(updateArrowState, 300);
            }
        });
        // 向左滚动
        arrowLeft.addEventListener('click', function () {
            if (!this.classList.contains('hidden')) {
                tabs.scrollBy({ left: -scrollAmount, behavior: 'smooth' });
                // 滚动完成后更新箭头状态
                setTimeout(updateArrowState, 300);
            }
        });
        // 监听滚动事件更新箭头状态
        tabs.addEventListener('scroll', updateArrowState);
        // 添加调整窗口大小时更新状态
        window.addEventListener('resize', updateArrowState);
    }
    document.addEventListener('DOMContentLoaded', function () {
        renderTablesHeader();
        const data = JSON.parse(decodeHtmlEntities(`{{ FundFlows }}`));

        renderTableBody(data, 'fundflows');
        let tabs = document.getElementById('tabs');
        let arrowLeft = document.getElementById('arrow-left');
        let arrowRight = document.getElementById('arrow-right');
        let tabPanes = document.querySelectorAll('.tab-pane');
        scrollTabs(tabs, arrowLeft, arrowRight, tabPanes);

        document.querySelectorAll('.table-container').forEach(tableContainer => {
            tableContainer.addEventListener('scroll', (event) => {
                if(pageIndex === 1) { lastScrollLeft = 0; lastScrollTop = 0; }
                const deltaX = event.target.scrollLeft - lastScrollLeft;
                const deltaY = event.target.scrollTop - lastScrollTop;
                if (Math.abs(deltaX) > Math.abs(deltaY)) return; // 水平滚动，不更新数据
                if(scrollTimeout) clearTimeout(scrollTimeout);
                scrollTimeout = setTimeout(() => { handleScroll(event.target); }, 100);
            });
        });
    });
</script>
</html>