<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description"content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <title>{{site.title}}-基于大数据的股票交易策略</title>
    {{include './common/meta.html'}}
</head>
<body class="bg-f8f8f8">
    <!-- 头部 -->
    {{include './common/header.html'}}
    
    <!-- banner -->
    <section class="banner flex justify-center">
        <h3 class="chanyue text-c">缠说・股经</h3>
        <p class="f-20 text-c mt-20">基于大数据的股票交易策略</p>
    </section>

    <section class="main center flex justify-between flex-wrap pd-30 ">
        <div class="stock-data m-card" data-key="hotstock">
            <h3 class="f-18 mb-10 title-color">人气股</h3>
            <p class="f-14 mb-10">从财新网、东方财富、同花顺iWenCai、淘股吧等多家权威股票交易平台获取关注人气最高的相差股票。</p>
        </div>
        <div class="stock-data m-card" data-key="concept">
            <h3 class="f-18 mb-10 title-color">概念变动</h3>
            <p class="f-14 mb-10">从同花顺iWenCai平台获取新增加的股票概念及概念板块中成人股的变动情况。</p>
        </div>
        <div class="stock-data m-card" data-key="theme">
            <h3 class="f-18 mb-10 title-color">题材挖掘</h3>
            <p class="f-14 mb-10">及时把握热点题材，投资快人一步。盘前盘后，深度挖掘最新题材。</p>
        </div>
        <div class="stock-data m-card" data-key="uplimit">
            <h3 class="f-18 mb-10 title-color">涨停追踪</h3>
            <p class="f-14 mb-10">实时监测涨停/跌停动态，快速把握强势牛股；涨停股、跌停股一览无余，强势板块和强势股尽收眼底，盯盘更方便快捷。</p>
        </div>
        <div class="stock-data m-card" data-key="">
            <h3 class="f-18 mb-10 title-color">资金热力图</h3>
            <p class="f-14 mb-10">跟踪各板块资金流向，一键解决投资者在盯盘过程中跟踪资金难、寻找市场热点难的痛点。</p>
        </div>
        <div class="stock-data m-card" data-key="hotmoney">
            <h3 class="f-18 mb-10 title-color">游资监测</h3>
            <p class="f-14 mb-10">紧跟市场热点，了解重大资讯。权威财经平台财新网上的资讯热榜。</p>
        </div>
    </section>

    {{include './common/footer.html'}}

    <!-- 移动端导航 -->
    {{include './common/wap-nav.html'}}
    
    {{include './common/js.html'}}
    <script src="{{static_url}}/js/stock.js"></script>
</body>

</html>